*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'gilory';
}
html,body{
    height: 100%;
    width: 100%;
}

#card{
    border-radius: 10px;
    height:400px;
    width: 300px;
    background-color: white;
    padding: 30px;
    text-align: center;

}

body{
    
    display: flex;
    border: 2px solid black;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
}

#card img{
    height: 50%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;

}

#card h5{
    color: red;
    font-size: 25px;
    padding: 5px;
    margin: 20px;
}

#card button{
    padding: 12px 20px;
    background-color: rgb(175, 231, 238);
    border: none;
    font-weight: 700;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;

}

#card #remove{
    color: black;
    background-color: #dadada;
}
